
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
/* Center entire page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Center text inside container */
.container {
    text-align: center;
}


h1 {
    color: #1f4037;
    font-weight: 700;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #99f2c8;
    padding-bottom: 5px;
}

input, button {
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #1f4037;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #14532d;
}

.score-box {
    background: #e8fdf5;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.progress {
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    background: #1f4037;
    text-align: center;
    color: white;
}
